@model BudgetCalculator.Data.ViewModels.BudgetEntityVM;

@using System.Globalization;

@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

ViewData["Title"] = "Delete Budget";



}


<h1>Welcome. Let's Delete some budgets!</h1>


<form asp-action="Delete" method="post">
	<div class="col-md-5 ">
		

		<div class="card">

			<div class="row g-0">
				<div class="card-header">
					<h3 class="text-center">
						Update Budget
						<a class="text-danger float-end text-decoration-none h4 " asp-action="Index"><i class="bi bi-list-task me-2"></i><span class="h5">Return</span></a>


					</h3>
				</div>
			</div>


			<div class="row g-0">

				<div class="card-body">

					<div class="row">

						<label class=" col-form-label col-3 ">Cost Center</label>
						<div class="col-auto">
							<select disabled type="text" asp-for="CostCenterId" class="form-select" asp-items="@ViewBag.CostCenters">
								<option disabled selected>--SELECT--</option>
							</select>
						</div>
					</div>
					<div class="row mt-3">

						<label class=" col-form-label col-3 ">Year</label>
						<div class="col-auto">
							<input readonly type="number" asp-for="Year" class="form-control" />

						</div>
					</div>

				</div>

			</div>

			<div class="row g-0">
				<div class="card-body">

					<table class="table table-noborder text-center">
						<thead>
							<tr>
								<td>Month</td>
								<td>Budget Cases</td>
								<td>Direct Productive Hours</td>
								<td>Agency Productive Hours</td>
							</tr>
						</thead>
						<tbody>


							@for (int i = 0; i < Model.MonthBudgets.Count; i++)
					{

						<tr>


									<td>
										<label asp-for="MonthBudgets[i].MonthName" value="@Model.MonthBudgets[i].MonthName">@Model.MonthBudgets[i].MonthName</label>
										<input hidden asp-for="MonthBudgets[i].MonthName" value="@Model.MonthBudgets[i].MonthName" />
										<input hidden asp-for="MonthBudgets[i].Id" value="@Model.MonthBudgets[i].Id"/>
									</td>
									<td><input readonly asp-for="MonthBudgets[i].Cases" class="form-control" type="number" placeholder="0" title="Input amount in cases budgeted in" /></td>
									<td><input readonly asp-for="MonthBudgets[i].DirectProductiveHours" class="form-control" type="number" placeholder="0" /></td>
									<td><input readonly asp-for="MonthBudgets[i].AgencyProductiveHours" class="form-control" type="number" placeholder="0" /></td>
								</tr>
					}









						</tbody>

						<tfoot>
							<tr>
								<td colspan="4">
									
									<input hidden asp-for="Id"  />
									<input hidden asp-for="CostCenterId" />
									<input  type="submit" value="Delete" class="btn btn-outline-danger float-end" />

									<a class="btn btn-outline-secondary float-start" asp-action="View" asp-route-year="@Model.Year" asp-route-CostCenterId="@Model.CostCenterId">Cancel</a>
								</td>
							</tr>
						</tfoot>

					</table>

				</div>
			</div>



			<div class="row g-0">
				<div class="card-footer">
					Footer
				</div>
			</div>


		</div>

	</div>


</form>