@model IEnumerable<BudgetCalculator.Models.BudgetEntity>;


@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Budgets</h1>



<table class="table text-center">


	<thead class="table-dark">
		<tr>
			<th>ID</th>
			<th>Cost Center</th>
			<th>Year</th>

			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var budget in Model)
		{
			<tr>
				<td>@budget.Id</td>
				<td>@budget.CostCenter.Name</td>
				<td>@budget.Year</td>

				<td>
					<div class="float-end">
						<a class="btn btn-sm btn-outline-success shadow" asp-action="View" asp-controller="Budget" asp-route-year="@budget.Year" asp-route-CostCenterId="@budget.CostCenter.Id">View</a>
						<a class="btn btn-sm btn-outline-primary shadow" asp-action="Update" asp-controller="Budget" asp-route-year="@budget.Year" asp-route-CostCenterId="@budget.CostCenter.Id">Update</a>
						<a class="btn btn-sm btn-outline-danger shadow" asp-action="Delete" asp-controller="Budget" asp-route-year="@budget.Year" asp-route-CostCenterId="@budget.CostCenter.Id">Delete</a>
					</div>

				</td>
			</tr>

		}


	</tbody>
	<tfoot class="footer text-center text-muted table-secondary">
		<tr>
			<td colspan="3">Auto Generated table</td>
		</tr>
	</tfoot>
</table>




