@model IEnumerable<BudgetCalculator.Models.WeeklyBudget>;
@using BudgetCalculator.Finance.Calendar;
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

	ViewData["Title"] = $"{ViewBag.CurrentMonth} Weekly";
	int BudgetYear = Model.AsEnumerable().Select(item => item.Budget.Year).FirstOrDefault();
	int costCenterId = Model.AsEnumerable().Select(item => item.CostCenter.Id).FirstOrDefault();
	string departementName = Model.AsEnumerable().Select(item => item.CostCenter.Department.Name).FirstOrDefault();

	

	var firstDate = new DateTime(BudgetYear, 1, 1);

	string nextMonthDisable = string.Empty;
	string prevMonthDisable = string.Empty;
	string activeMonth = string.Empty;

	if (ViewBag.NextMonthIndex == 12)
	{
		nextMonthDisable = "disabled";
	}
	if (ViewBag.CurrentMonthIndex == 0)
	{
		prevMonthDisable = "disabled";
	}




}

<div class="card border shadow ">
	<div class="row d-flex justify-content-center g-0">
		<div class=" row card-header g-0">
			<div class="col-md-12 text-center g-0">
				<h2 class="card-title  ">@departementName</h2>


			</div>
		</div>

		<div class="card-body g-0 sticky-top ">
			<nav aria-label="page navigation ">


				<ul class="pagination justify-content-center">

					<li class="page-item @prevMonthDisable">

						<a class="page-link" asp-action="Weekly" asp-route-CostCenterId="@costCenterId" asp-route-year="@BudgetYear" asp-route-monthIndex="@ViewBag.PreviousMonthIndex">
							<span aria-hidden="true">&laquo;</span>
						</a>


					</li>
					@foreach (var month in FinanceCalendar.FinanceCalendarWeekModel)
					{
						if (@FinanceCalendar.FinanceCalendarWeekModel.Keys.ToList().IndexOf(month.Key) == ViewBag.CurrentMonthIndex)
						{
							activeMonth = "active";
						}
						else
						{
							activeMonth = string.Empty;
						}

						<li class="page-item @activeMonth">
							<a class="text-center page-link" asp-action="Weekly" asp-route-CostCenterId="@costCenterId" asp-route-year="@BudgetYear" asp-route-monthIndex="@FinanceCalendar.FinanceCalendarWeekModel.Keys.ToList().IndexOf(month.Key)">
								<span>@month.Key.Substring(0,3)</span>
							</a>
						</li>
					}


					<li class="page-item @nextMonthDisable">
						<a class="page-link" asp-action="Weekly" asp-route-CostCenterId="@costCenterId" asp-route-year="@BudgetYear" asp-route-monthIndex="@ViewBag.NextMonthIndex">


							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>



		@foreach (var week in Model)
		{




			<div class="col-md-5 col-xs-6 border-primary mb-3 g-3" style="font-size:14px;">

				<div class="card">

					<div class="row bg-light g-0 ">


						<div class="card-header">
							<h3 class="text-center card-title">
								Week @week.WeekNumber
								<a class=" text-danger float-end" asp-action="Edit"><i class="bi bi-pencil-square"></i></a>
							</h3>

						</div>



						<div class="col-md-6">
							<div class="card-body">


								<p class="card-text text-secondary"><b>WC date:</b><span class="text-success fw-bolder"> @firstDate.AddDays((week.WeekNumber-1)*7).ToShortDateString()</span></p>
								<p class="card-text text-secondary"><b>Week:</b><span class="text-success fw-bolder"> @week.WeekNumber</span></p>
								<p class="card-text text-secondary"><b>Month:</b><span class="text-success fw-bolder"> @week.MonthName</span></p>


							</div>
						</div>

						<div class="col-md-6">
							<div class="card-body">
								@{


									double TotalWeeklyProductiveHours = (week.AgencyProductiveHours + week.DirectProductiveHours);

									double allowedMinutesPerCase = Math.Round(((TotalWeeklyProductiveHours / (float)week.Cases)) * 60, 3);
									double TotalMinutes = Math.Round(week.Cases * allowedMinutesPerCase, 3);

									double TotalHoursAllowed = Math.Round(TotalMinutes / 60, 3);
								}

								<p class="text-secondary">
									<b>Cases/Day:</b><span class="text-success fw-bolder"> @week.Cases </span>

								</p>


								<p class="text-secondary"><b>Av. mins/case:</b> <span class="text-success fw-bolder"> @allowedMinutesPerCase</span></p>
								<p class="text-secondary"><b>Total Minutes:</b><span class="text-success fw-bolder"> @TotalMinutes</span></p>
								<p class="text-secondary"><b>Hours Allowed:</b><span class="text-success fw-bolder"> @TotalHoursAllowed.ToString("#.###")</span></p>

							</div>

						</div>



						<div class="row">

							<div class="col-md-12">


								<p class="text-decoration-underline small"><b>DIRECT HC Only Input</b></p>

								<table class="table table-borderless text-center small">
									<thead>
										<tr class="table-bordered text-secondary">
											<th title="Cost Center">CC</th>
											<th>Direct Role</th>
											<th title="Head Count">HC</th>
											<th>Hrs shitf/person</th>
											<th>Total Hours</th>
										</tr>
									</thead>


									<tbody>

										
											@foreach (var departmentRole in ViewBag.RolesList)
											{

												<tr class="text-success fw-bolder" style="border-top: thin solid; border-color:gray;">

													<td title="Cost Center">@week.CostCenter.Name</td>
													<td>@departmentRole</td>
													<td title="Head Count">{HC}</td>
													<td>{Hours}</td>
													<td>{total Hours}</td>
												</tr>
											}

										
								


										<tr>
											<td></td>
											<td class="text-end text-secondary" style="border-bottom: thin solid; border-color:gray;" colspan="2"><b>Direct Hours:</b></td>
											<td></td>
											<td class="text-center fw-bolder" style="border-bottom: thin solid; border-color:gray;">{total Hours}</td>

										</tr>


										<tr>
											<td class="text-end text-secondary" colspan="3"><b>Agency Hours:</b></td>
											<td class="text-center fw-bolder">{total Hours}</td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td class="text-end text-secondary" style="border-bottom: thin solid; border-color:gray;" colspan="2"><b>Agency Available:</b></td>
											<td class="text-center fw-bolder" style="border-bottom: thin solid; border-color:gray;" colspan="1">{Head Count}</td>
											<td></td>
										</tr>



									</tbody>

								</table>





							</div>


						</div>
						<div class="card-footer g-0 text-end text-muted" style="font-size:0.8rem;">
							<span>

								Last Updated: @DateTime.Now.ToLongDateString() by {User}


							</span>
						</div>

					</div>







				</div>
			</div>
		}
	</div>
</div>